@model CompositeModel

@{
    ViewData["Title"] = "Hotel details";
}

<h1>Details</h1>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.City)
        </dd>
    </dl>
    <br />
</div>
<div>
    <a asp-action="RoomsStatus" asp-controller="Booking" 
                                asp-route-hotelId = "@Model.Hotel.Id"
                                asp-route-bd = "@Model.BeginDate"
                                asp-route-ed = "@Model.EndDate"
                                asp-route-seats = "@Model.Seats">
        <button type="button" class="btn btn-warning animate__animated animate__pulse">
            View room status
        </button>
    </a>
    <p></p>
    <a asp-action="Index"   asp-controller="Booking"  
                            asp-route-city = "@Model.Hotel.City"
                            asp-route-bd = "@Model.BeginDate"
                            asp-route-ed = "@Model.EndDate"
                            asp-route-seats = "@Model.Seats">
        <button type="button" class="btn btn-dark animate__animated animate__pulse">
            Back to list
        </button>
    </a>
</div>
<p></p>
<div class="container marketing">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Welcome to @Model.Hotel.Name ! <span class="text-muted">It will blow your mind.</span></h2>
            <p class="lead">This is one of the best hotels in Europe!</p>
        </div>
        <div class="col-md-5">
            <img src="/img/Hotels/Hotel_@(Model.Hotel.Id)_1.jpg" alt="Alternate Text" class="animate__animated animate__bounce" />

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it is that good. <span class="text-muted">@Model.Hotel.Name :</span></h2>
            <p class="lead">@Model.Hotel.Description</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/img/Hotels/Hotel_@(Model.Hotel.Id)_2.jpg" alt="Alternate Text" class="animate__animated animate__bounce"/>

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Hurry up to book the best room! <span class="text-muted">Expert selection.</span></h2>
            <p class="lead">Huge selection of rooms for any company!</p>
        </div>
        <div class="col-md-5">
            <img src="/img/Hotels/Hotel_@(Model.Hotel.Id)_3.jpg" alt="Alternate Text" class="animate__animated animate__bounce"/>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div>