@model CompositeModel

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Seats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Seats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Price)
    </dl>
</div>
@{ if (@Model.BeginDate.ToString() == "01.01.0001 0:00:00" || @Model.EndDate.ToString() == "01.01.0001 0:00:00")
    {
        <h4>To book a room, you need to go back to the main page and select a date!</h4>
        <p></p>
        <a asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-danger animate__animated animate__pulse">Back to home</button></a>
    }
    else
    {
        <div>
            <form method="post" asp-action="Reserve" asp-controller="Booking">
                <p>
                    <input type="hidden" name="id" value="@Model.Room.Id" />
                    <input type="hidden" name="beginDate" value="@Model.BeginDate" />
                    <input type="hidden" name="endDate" value="@Model.EndDate" />
                    <input type="submit" class="btn btn-success animate__animated animate__pulse" value="Забронировать" />
                </p>
            </form>
        </div>}
}
